/* loading thingy magingingin */
#loading-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#loading-icon img {
  width: 100px;
  height: auto;
  animation: hoverUpDown 2s ease-in-out infinite;
}

@keyframes hoverUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

body.loading::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; 
}

/* im about to crash trying to center this shits */